<a href="https://colab.research.google.com/github/ousabu/aiousama/blob/master/Churn_Modelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [77]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten, Dense

In [78]:
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt

In [79]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [80]:
data=pd.read_csv('/content/Churn_Modelling .csv')

In [81]:
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [82]:
x=data.drop(['CustomerId','Surname','RowNumber','Exited'],axis=1)

In [83]:
y=data['Exited']

In [84]:
x.head()

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619    France  Female  ...          1               1        101348.88
1          608     Spain  Female  ...          0               1        112542.58
2          502    France  Female  ...          1               0        113931.57
3          699    France  Female  ...          0               0         93826.63
4          850     Spain  Female  ...          1               1         79084.10

[5 rows x 10 columns]

In [85]:
label1 = LabelEncoder()

x['Geography'] = label1.fit_transform(x['Geography'])
label = LabelEncoder()
x['Gender'] = label.fit_transform(x['Gender'])

In [86]:
x = pd.get_dummies(x, drop_first=True, columns=['Geography'])
x.head()

   CreditScore  Gender  Age  ...  EstimatedSalary  Geography_1  Geography_2
0          619       0   42  ...        101348.88            0            0
1          608       0   41  ...        112542.58            0            1
2          502       0   42  ...        113931.57            0            0
3          699       0   39  ...         93826.63            0            0
4          850       0   43  ...         79084.10            0            1

[5 rows x 11 columns]

In [87]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y)

In [88]:
from sklearn.preprocessing import StandardScaler

In [89]:
scaler = StandardScaler()

In [90]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [93]:
model = Sequential()
model.add(Dense(x.shape[1], activation='relu', input_dim = x.shape[1]))
model.add(Dense(128, activation='relu'))
model.add(Dense(1, activation = 'sigmoid'))

In [94]:
model.compile(optimizer='adam', loss = 'binary_crossentropy', metrics=['accuracy'])

In [96]:
model.fit(x_train, y_train.to_numpy(), batch_size = 10, epochs = 10, verbose = 1)

Epoch 1/10
800/800 [==============================] - 1s 1ms/step - loss: 0.4560 - accuracy: 0.8100
Epoch 2/10
800/800 [==============================] - 1s 1ms/step - loss: 0.4109 - accuracy: 0.8276
Epoch 3/10
800/800 [==============================] - 1s 1ms/step - loss: 0.3796 - accuracy: 0.8453
Epoch 4/10
800/800 [==============================] - 1s 1ms/step - loss: 0.3544 - accuracy: 0.8562
Epoch 5/10
800/800 [==============================] - 1s 1ms/step - loss: 0.3441 - accuracy: 0.8596
Epoch 6/10
800/800 [==============================] - 1s 1ms/step - loss: 0.3402 - accuracy: 0.8583
Epoch 7/10
800/800 [==============================] - 1s 1ms/step - loss: 0.3383 - accuracy: 0.8627
Epoch 8/10
800/800 [==============================] - 1s 1ms/step - loss: 0.3355 - accuracy: 0.8597
Epoch 9/10
800/800 [==============================] - 1s 1ms/step - loss: 0.3351 - accuracy: 0.8631
Epoch 10/10
800/800 [==============================] - 1s 1ms/step - loss: 0.3315 - accuracy: 0.8627

In [98]:
y_pred = model.predict_classes(x_test)

WARNING:tensorflow:From <ipython-input-98-bae1a118294d>:1: Sequential.predict_classes (from tensorflow.python.keras.engine.sequential) is deprecated and will be removed after 2021-01-01.
Instructions for updating:
Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).

In [99]:
y_pred

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=int32)

In [100]:
y_test

5663    0
8793    0
1760    1
1405    1
9401    1
       ..
6561    1
766     0
6679    0
147     0
5921    0
Name: Exited, Length: 2000, dtype: int64

In [102]:
model.evaluate(x_test, y_test.to_numpy())

63/63 [==============================] - 0s 816us/step - loss: 0.3353 - accuracy: 0.8630

[0.3353291153907776, 0.8629999756813049]

In [103]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [104]:
confusion_matrix(y_test, y_pred)

array([[1510,   83],
       [ 191,  216]])

In [105]:
accuracy_score(y_test,y_pred)

0.863