<a href="https://colab.research.google.com/github/ousabu/aiousama/blob/master/TV%EA%B0%80%EA%B2%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#matplotlib 패키지 한글 폰트 설정 시작
from matplotlib import rc
rc('font', family='Malgun Gothic') #윈도우, 구글 콜랩
#rc('font', family='AppleGothic') #맥
#matplotlib 패키지 한글 폰트 설정 끝

In [2]:
train_df=pd.read_excel('/content/네이버TV가격_최종.xlsx',sheet_name='train')

In [3]:
train_df.head(3)

   ID     판매가  화면크기  형태   해상도  화면비율  LCD  LED  OLED  QLED  단자  부가기능
0   8  396240    55   0  2160     1    0    1     0     0   3     1
1   9  412870    55   0  2160     1    0    1     0     0   3     1
2  10  414590    55   0  2160     1    0    1     0     0   3     1

In [4]:
test_df=pd.read_excel('/content/네이버TV가격_최종.xlsx',sheet_name='test')

In [6]:
test_df.head(3)

   ID     판매가  화면크기  형태   해상도  화면비율  LCD  LED  OLED  QLED  단자  부가기능
0  11  416240    55   0  2160     1    0    1     0     0   3     1
1  25  431040    55   0  2160     1    0    1     0     0   3     1
2  31  454000    55   0  2160     1    0    1     0     0   3     1

In [8]:
train_df.shape,test_df.shape

((7000, 12), (3000, 12))

In [9]:
search_df = train_df[(train_df['LCD']==0) & (train_df['LED']==0) & (train_df['OLED']==0) & (train_df['QLED']==0)]

In [11]:
search_df[:3]

       ID      판매가  화면크기  형태   해상도  화면비율  LCD  LED  OLED  QLED  단자  부가기능
763  2258  1450730    65   0  2160     1    0    0     0     0   2     2
764  2260  1450720    65   0  2160     1    0    0     0     0   2     2
765  2262  1457990    65   0  2160     1    0    0     0     0   2     2

In [16]:
# sns.barplot(x='값', y='개수', data=pd.DataFrame({'값': ['결측값', '정상값'], '개수':[len(search_df), len(train_df) - len(search_df)]}))

In [ ]:
train_df.isnull().sum()

In [18]:
# sns.boxplot(data=train_df)

In [19]:
x_train = train_df.drop(['ID', '판매가'], axis=1)
x_test = test_df.drop(['ID', '판매가'], axis=1)
y_train = train_df['판매가']
y_test = test_df['판매가']

In [20]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import numpy as np

In [21]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [22]:
model.score(x_train,y_train)

0.5765630396547294

In [23]:
model.score(x_test,y_test)

0.5462414358589349

In [24]:
x_test = np.array([
    [55, 0, 2160, 1, 0, 1, 0, 0, 3, 1]
])

y_predict = model.predict(x_test)

In [25]:
y_predict

array([694212.0204505])