<a href="https://colab.research.google.com/github/ousabu/aiousama/blob/master/%EC%9E%90%EB%8F%99%EC%B0%A8%EA%B0%80%EA%B2%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#matplotlib 패키지 한글 폰트 설정 시작
import matplotlib as mpl
mpl.rc('font', family='Malgun Gothic') #윈도우, 구글 콜랩
#mpl.rc('font', family='AppleGothic') #맥
#matplotlib 패키지 한글 폰트 설정 끝

In [ ]:
train_df=pd.read_excel('/content/carprice_E1SUl6b (1).xlsx',sheet_name='train')

In [ ]:
train_df.head()

     가격    년식   종류    연비   마력    토크   연료  하이브리드   배기량    중량 변속기
0  1885  2015  준중형  11.8  172  21.0  가솔린      0  1999  1300  자동
1  2190  2015  준중형  12.3  204  27.0  가솔린      0  1591  1300  자동
2  1135  2015   소형  15.0  100  13.6  가솔린      0  1368  1035  수동
3  1645  2014   소형  14.0  140  17.0  가솔린      0  1591  1090  자동
4  1960  2015   대형   9.6  175  46.0   디젤      0  2497  1990  자동

In [ ]:
test_df=pd.read_excel('/content/carprice_E1SUl6b (1).xlsx',sheet_name='test')

In [ ]:
test_df.head()

     가격    년식  종류    연비   마력    토크   연료  하이브리드   배기량    중량 변속기
0  1915  2015  대형   6.8  159  23.0  LPG      0  2359  1935  수동
1  1164  2012  소형  13.3  108  13.9  가솔린      0  1396  1035  자동
2  2817  2015  중형  14.4  184  41.0   디젤      0  1995  1792  자동
3  2160  2015  대형  10.9  175  46.0   디젤      0  2497  2210  수동
4  1915  2015  대형   6.4  159  23.0  LPG      0  2359  1935  자동

In [ ]:
x_train = train_df.drop(['가격'], axis=1)
x_test = test_df.drop(['가격'], axis=1)
y_train = train_df['가격']
y_test = test_df['가격']

In [ ]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.linear_model import LinearRegression
import numpy as np

In [ ]:
x_train.columns

Index(['년식', '종류', '연비', '마력', '토크', '연료', '하이브리드', '배기량', '중량', '변속기'], dtype='object')

In [ ]:
transformer = make_column_transformer(
    (OneHotEncoder(), ['종류', '연료', '변속기']),
    remainder='passthrough')
transformer.fit(x_train)
x_train = transformer.transform(x_train) 
x_test = transformer.transform(x_test)

In [ ]:
x_train[0]

array([0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 1.000e+00,
       0.000e+00, 0.000e+00, 1.000e+00, 2.015e+03, 1.180e+01, 1.720e+02,
       2.100e+01, 0.000e+00, 1.999e+03, 1.300e+03])

In [ ]:
temp=pd.DataFrame(x_train)

In [ ]:
temp.head()

    0    1    2    3    4    5   ...    10     11    12   13      14      15
0  0.0  0.0  1.0  0.0  0.0  1.0  ...  11.8  172.0  21.0  0.0  1999.0  1300.0
1  0.0  0.0  1.0  0.0  0.0  1.0  ...  12.3  204.0  27.0  0.0  1591.0  1300.0
2  0.0  1.0  0.0  0.0  0.0  1.0  ...  15.0  100.0  13.6  0.0  1368.0  1035.0
3  0.0  1.0  0.0  0.0  0.0  1.0  ...  14.0  140.0  17.0  0.0  1591.0  1090.0
4  1.0  0.0  0.0  0.0  0.0  0.0  ...   9.6  175.0  46.0  0.0  2497.0  1990.0

[5 rows x 16 columns]

In [28]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [29]:
model.score(x_train,y_train)

0.88451316734856

In [30]:
model.score(x_test,y_test)

0.7739730315244897

In [31]:
x_test = np.array([
    [2016, '대형', 6.8, 159, 25, 'LPG', 0, 2359, 1935, '수동']
])

x_test = pd.DataFrame(x_test, columns=['년식', '종류', '연비', '마력', '토크', '연료', '하이브리드', '배기량', '중량', '변속기'])
x_test = transformer.transform(x_test)

y_predict = model.predict(x_test)

In [32]:
y_predict

array([1802.16030209])